@page "/not-found"
@layout MainLayout

<div class="d-flex flex-column align-center justify-center" style="height: 60vh;">
    <MudIcon Icon="@Icons.Material.Filled.SearchOff" Size="Size.Large" Color="Color.Default" Class="mb-4" Style="font-size: 4rem;" />
    <MudText Typo="Typo.h5" Class="mb-2">Page Not Found</MudText>
    <MudText Typo="Typo.body1" Color="Color.Default" Class="mb-4">The page you're looking for doesn't exist or has been moved.</MudText>
    <MudButton Variant="Variant.Filled" Color="Color.Primary" Href="/">Go Home</MudButton>
</div>
