<h3>PeerSettings</h3>
<p>
	These are the peer to peer settings for this host device. Changing any settings can negatively affect the performance of this host.
</p>
<div class="form">

	<div class="">
		<label>Discovery Port</label>
		<input type="number" class="form-control" @bind="Settings.Peer.DiscoveryPort" />
	</div>
	<div class="mt-3">
		<label>Maximum Number of Peers</label>
		<input type="number" class="form-control" @bind="Settings.Peer.MaxPeers" />
	</div>
</div>
@code {
	[Parameter] public Daisi.Protos.V1.Settings Settings { get; set; }

}
